<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ccuda">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".login_ui.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ccuda_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ccuda_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui_Recipe.RecipeRegisterActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity
            android:name=".login_ui.LoginActivity"
            android:exported="true"></activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui_Home.HomeActivity" />
        <activity android:name=".login_ui.SignupActivity" />
        <activity android:name=".login_ui.FindpasswordActivity" />
        <activity android:name=".login_ui.RecreatepasswordActivity" />
        <activity android:name=".ui_Chat.ChatRoomActivity" />
    </application>


</manifest>